<md-content class="main" flex>
	<h1>Wordsworth</h1>
	<md-card class="sign-in" flex flex-gt-md="40">
		<h2>Your Profile</h2>
		<md-text-float label="Nickname" ng-model="signin.nickname"></md-text-float>
		<h2>Choose an Avatar</h2>
		<div class="avatar-list">
			<img
				ng-repeat="avatar in signin.avatars"
				ng-src="{{avatar.url}}"
				ng-click="signin.selectAvatar(avatar)"
				ng-class="{selected: signin.selectedAvatar == avatar}"
				class="avatar" alt="avatar-{{$index}}">
		</div>
		<div layout="right" layout-align="end start">
			<md-button class="md-fab check-button">
				<md-icon aria-label="check">
					TODO
				</md-icon>
			</md-button>
		</div>
	</md-card>
</md-content>