html, body {
	height: 100%;
}
md-content.profile {
	background-size: cover;
	background-image: url('images/buttermere.jpg');
}
md-card {
	background: white;
}
.sign-in {
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
}
.sign-in h2 {
	font-weight: 200;
}
.check-button {
	margin-left: auto;
}
.avatar-list .avatar {
	margin: 24px;
	cursor: pointer;
}
.avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	padding: 2px;
}
.avatar.selected {
	border: 3px solid #03a9f4;
}
.nickname {
	width: 7em;
	text-align: right;
	padding: 17px;
	color: white;
}
.user {
	padding-right: 10px;
}
a.user {
	text-decoration: none;
}
.md-toolbar-tools.narrow {
	width: initial;
}
@media (max-width: 959px) {
	.sign-in {
		margin-top: 0;
		margin-bottom: 0;
	}
	md-content,.sign-in {
		height: 100%;
	}
}
md-input-group.ng-invalid input.ng-touched {
	border-bottom:2px solid #DC4A3D;
}
.ng-submitted md-input-group.ng-invalid input {
	border-bottom:2px solid #DC4A3D;
}
.big input {
	width: 100%;
}
.create-button-holder {
	padding: 30px;
}
.pull-right {
	float: right;
}
form.bottom {
	border-top: 2px solid #03a9f4;
	position: fixed;
	bottom: 0;
	height: 75px;
	width: 100%;
	background-color: white;
}
.wwScrollIntoView {
	height: 150px;
}
.message {
	margin-left: 20px;
}
.fixed-top {
	position: fixed;
	top: 0;
}
.offset-top {
	margin-top: 64px;
}
md-toolbar .room-description {
	font-size: 0.7em;
}
[ng-cloak] {
	display: none;
}